{% extends 'base.html' %}

{% block head %}
    <title>О школе</title>
    <script src="..\static\components\popup.js" defer></script>
{% endblock %}

{% block body %}
<div class="main">
    <div class="course-card">
        <div class="course-card__info">
            <h1 class="course-card__name">О компании</h1>
            <p class="course-card__description">Что такое Тензор? Это вектор. И мы движемся вперед с 1996 года как в работе, так и просто по жизни.
«Тензор» – аккредитованный ФНС, ПФ и Росстатом оператор электронного документооборота, сертифицированный EDI‑провайдер. <br> <br> А еще это один из крупнейших удостоверяющих центров в России. Это значит, что 50% всех электронных ключей, используемых для сдачи электронной отчетности, участия в торгах и получения госуслуг, выданы нами.</p>

        </div>
    </div>
</div>

{% endblock %}