{% extends 'base.html' %}

{% block head %}
    <title>{{course.name}}</title>
    <script src="..\static\components\popup.js" defer></script>
{% endblock %}

{% block body %}
<div class="main">
    <div class="course-card">	      
        <div class="course-card__info">
            <h1 class="course-card__name">{{course.name}}</h1>	
            <p class="course-card__description">{{course.description}}</p>		
            <div class="course-card__list">
                <a class="course-card__text">А также, ты получишь:</a>            
                <div class="course-card__bonuses">
                    {%for bonus in course.bonuses%}
                        <div class="course-bonus">
                            <img class="course-bonus__icon" src="{{ url_for('static', filename=bonus.img_src) }}"/>
                            <div class="course-bonus__text">{{bonus.description}}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="course-card__button">
                    <a class="course-button button popup-link" href="#popup">Записаться</a>
                </div>
            </div>                
        </div>      
        <div class="course-card__img">
            <img class="course-img" src="{{ url_for('static', filename = course.img_src) }}"/>
        </div>
    </div>      
</div>
    
{% endblock %}