{% extends 'base.html' %}

{% block head %}
    <title>{{course.name}}</title>
    <script src="..\static\components\course-info.js" defer></script>
{% endblock %}

{% block body %}
    <div class="courseCard">	
        <div class="courseCard__img">
            <img class="img" src="../static/computer.png"/>
        </div>
    
    <div class="disigning">
        <!-- <h2 class="header">Проектирование</h2>	
        <p class="description">Этот курс посвящен тому, чтобы ты научился планировать и оценивать свои задумки, составлять требования к будующим проектам, научился строить макеты и прототипы, а также их тестировать!</p>				
         -->
        <!-- <div class="bonuses">
            <a class="header">А также, ты получишь:</a>
            
            <div class="list">
                <div class="list__element">
                    <img class="courseimg" src="icons/Circled 10.png"/>
                    <div class="text">10 подробных лекций  с материалами </div>
                </div>
                <div class="list__element">
                    <img class="courseimg" src="icons/Diploma.png"/>
                    <div class="text">Сертификат о прохождении курса</div>
                </div>
                <div class="list__element">
                    <img class="img" src="icons/Resume.png"/>
                    <div class="text">Коллекцию новых работ в свое портфолио</div>
                </div>
            </div>
        </div> -->
        
        <!-- <div class="signUp">
            <a class="signUp__button" href="tensor.html">Записаться</a>
        </div> -->
    </div>    
{% endblock %}

