{% extends 'base.html' %}

{% block head %}
    <title>Школа Тензор</title>
<!--    <script src="..\static\components\course-card.js" defer></script>-->
{% endblock %}

{% block body %}
<div class="main">
    <div class="main__hello-text">
        <h1 class="hello-text">
            Привет, это Школа Тензор! Здесь ты сможешь записаться на необходимые тебе занятия, чтобы подтянуть hard или soft skills, чтобы комфортно работать и общаться с коллегами!
        </h1>
    </div>
    <div class="main__courses-block">
        {% for course in courseList %}
            <a class="course" href="{{course.endpoint}}">
                <img class="course__img" src="{{ url_for('static', filename=course.button_img) }}">             
                <div class="course__name">{{course.name}}</div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}