
{% extends 'base.html' %}

{% block head %}
    <title>Школа Тензор</title>
    <script src="..\static\components\course-card.js" defer></script>	
{% endblock %}

{% block body %}       		
<div class="main"> 
    <div class="hello">
        <h6 class="hello__text"> 
            Привет, это Школа Тензор! Здесь ты сможешь записаться на необходимые тебе занятия, чтобы подтянуть hard или soft skills, чтобы комфортно работать и общаться с коллегами!
            </h6>
    </div>    
    <div class="coursesBlock"></div>
</div>  
{% endblock %}